Этот репозиторий — мастер-спецификация проекта Aivalone. Все изменения в субмодулях (services/*) должны строго соответствовать логике из папки specs/
Общее описание проекта находится в файле Readme.md, так же в каждом субмодуле есть свой Readme.md.
Если в процессе разработки возникают вопросы, сначала обращайся к нему и к Readme.md субмодуля.
Если после выполнения задачи есть существенные изменения в проекте, обновите файл Readme.md и все Readme.md субмодулей.